<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.manitto.repositories.CommentRepository">

    <insert id="createComment" parameterType="commentCreateDto">
        insert into comment (user_id, match_id, writer, content)
        values (#{userId}, #{matchId}, #{writer}, #{content})
    </insert>
    <update id="updateComment">
        update comment
        set content = #{content},
            edited  = #{edited}
        where id = #{id}
    </update>
    <delete id="deleteComment">
        delete
        from comment
        where id = #{id}
    </delete>
    <select id="getCommentListByUserId" parameterType="long" resultType="commentDto">
        select * from comment where user_id = #{userId}
    </select>
    <select id="getCommentListByMatchId" parameterType="map" resultType="com.example.manitto.dtos.Comment">
        select * from comment where match_id = #{matchId}
    </select>
    <select id="getCommentListByUserIdLimit" parameterType="long" resultType="com.example.manitto.dtos.Comment">
        select * from comment where user_id = #{userId}
    </select>
    <select id="getCommentListByMatchIdLimit" parameterType="map" resultType="com.example.manitto.dtos.Comment">
        select * from comment where match_id = #{matchId}
    </select>

</mapper>