<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--User-->
        <typeAlias alias="userDto" type="com.example.manitto.dtos.User"/>
        <typeAlias alias="userAuthDto" type="com.example.manitto.dtos.User$AuthDto"/>
        <typeAlias alias="userRegisterDto" type="com.example.manitto.dtos.User$RegisterDto"/>
        <typeAlias alias="userUpdateDto" type="com.example.manitto.dtos.User$UpdateDto"/>
        <typeAlias alias="userInfoDto" type="com.example.manitto.dtos.User$InfoDto"/>

        <!--Match-->
        <typeAlias alias="MatchDto" type="com.example.manitto.dtos.Match"/>
        <typeAlias alias="MatchRegisterDto" type="com.example.manitto.dtos.Match$CreateDto"/>
        <typeAlias alias="MatchUpdateDto" type="com.example.manitto.dtos.Match$UpdateDto"/>
        <typeAlias alias="MatchInfoDto" type="com.example.manitto.dtos.Match$InfoDto"/>

        <!--Comment-->
        <typeAlias alias="CommentDto" type="com.example.manitto.dtos.Comment"/>
        <typeAlias alias="CommentRegisterDto" type="com.example.manitto.dtos.Comment$CreateDto"/>
        <typeAlias alias="CommentUpdateDto" type="com.example.manitto.dtos.Comment$UpdateDto"/>
        <typeAlias alias="CommentInfoDto" type="com.example.manitto.dtos.Comment$InfoDto"/>

        <!--UserMatch-->
        <typeAlias alias="UserMatchDto" type="com.example.manitto.dtos.UserMatch"/>
        <typeAlias alias="UserMatchRegisterDto" type="com.example.manitto.dtos.UserMatch$CreateDto"/>
        <typeAlias alias="UserMatchUpdateDto" type="com.example.manitto.dtos.UserMatch$UpdateDto"/>
        <typeAlias alias="UserMatchInfoDto" type="com.example.manitto.dtos.UserMatch$InfoDto"/>
        <!--Mission-->
        <typeAlias alias="MissionDto" type="com.example.manitto.dtos.Mission"/>
        <typeAlias alias="MissionRegisterDto" type="com.example.manitto.dtos.Mission$CreateDto"/>
        <typeAlias alias="MissionUpdateDto" type="com.example.manitto.dtos.Mission$UpdateDto"/>
        <typeAlias alias="MissionInfoDto" type="com.example.manitto.dtos.Mission$InfoDto"/>

        <!--Reward-->
        <typeAlias alias="RewardDto" type="com.example.manitto.dtos.Reward"/>
        <typeAlias alias="RewardRegisterDto" type="com.example.manitto.dtos.Reward$CreateDto"/>
        <typeAlias alias="RewardUpdateDto" type="com.example.manitto.dtos.Reward$UpdateDto"/>
        <typeAlias alias="RewardInfoDto" type="com.example.manitto.dtos.Reward$InfoDto"/>

        <!--Penalty-->
        <typeAlias alias="PenaltyDto" type="com.example.manitto.dtos.Penalty"/>
        <typeAlias alias="PenaltyRegisterDto" type="com.example.manitto.dtos.Penalty$CreateDto"/>
        <typeAlias alias="PenaltyUpdateDto" type="com.example.manitto.dtos.Penalty$UpdateDto"/>
        <typeAlias alias="PenaltyInfoDto" type="com.example.manitto.dtos.Penalty$InfoDto"/>
    </typeAliases>
</configuration>