<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--User-->
        <typeAlias alias="userDto" type="com.example.manitto.dtos.User"/>
        <typeAlias alias="userAuthDto" type="com.example.manitto.dtos.User$AuthDto"/>
        <typeAlias alias="userRegisterDto" type="com.example.manitto.dtos.User$RegisterDto"/>
        <typeAlias alias="userUpdateDto" type="com.example.manitto.dtos.User$UpdateDto"/>
        <typeAlias alias="userInfoDto" type="com.example.manitto.dtos.User$InfoDto"/>
    </typeAliases>
</configuration>